<div class="text-center">
    <h1>簡単Webスクレイピング</h1>
    <small>本サイトの利用は自己責任でお願いします。</small>
    <%= form_with(model: @scrape, url: root_path, local: true) do |form| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 text-left">
              <%= form.label(:url) do %>
                URL
              <% end %>
            </div>
            <div class="col-sm-12 text-left" style="padding-bottom: 50px;">
              <div class="">
                  <%= form.text_field :url, :class => "form-control" %>
                  例）https://eiga.com/now/
              </div>
            </div>
            <div class="col-sm-12 text-left">
              <%= form.label(:target_item) do %>
                取得したい項目のXPATH記法
              <% end %>
            </div>
            <div class="col-sm-12 text-left" style="padding-bottom: 50px;">
              <div class="">
                  <%= form.text_field :target_item, :class => "form-control" %>
                  例）//div[@class='m_unit'] → <a href="https://qiita.com/rllllho/items/cb1187cec0fb17fc650a" target="_blank">書き方はこちらの記事が参考になります</a>
              </div>
            </div>
            <div class="col-sm-12 text-left">
              <%= form.label(:target_tag) do %>
                上記で取得したノードから抜き出したい項目のCSS記法（複数の場合はカンマ区切り）
              <% end %>
            </div>
            <div class="col-sm-12 text-left" style="padding-bottom: 50px;">
              <div class="">
                  <%= form.text_field :target_tag, :class => "form-control" %>
                  例）h3,p
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <%= form.submit 'Scrape!', :class => 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
    
    <% if !@scrape.nil? %>
    <div class="row">
      <% @scrape.errors.full_messages.each do |message| %>
        <div class="col-sm-12"><b class="text-danger"><%= message %></b></div>
      <% end %>
    </div>
    <% end %>
</div>