<div class="text-center">
    <h1>簡単Webスクレイピング</h1>
    
        <div id="loading-bg">
            <div id="loading">
                <%= image_tag 'loading.gif' %>
            </div>
        </div>

        <div class="row" id="result">
        <div class="col-md-12">
            <p>スクレイピングが完了しました。</p>
            
        </div>
        <div class="col-md-12">
            <% if @path.start_with?("/") %>
                <p>下のURLより結果を取得してください。</p>
                <a href='<%= @path %>' target="_blank"><%= @path %></a>
            <% else %>
                <p>Error</p>
                <%= @path %>
            
            <% end %>
        </div>
        <div class="col-md-12">
            <%= link_to 'Back', '/', :class => 'btn btn-primary' %>
        </div>
    </div>
</div>